#portfolio > #myWorks {
display: inline-block;
}
    #portfolio > #myWorks > .filter {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
    }
        #portfolio > #myWorks > .filter > div {
            display: inline-block;
            margin: 0 5px;
            text-transform: uppercase;
            cursor: pointer;
            padding: 0 20px;
            font-size: 20px;
            font-weight: bolder;
            color: var(--blackText-color);
            border-radius: 8px;
            box-shadow: -1px 1px 4px 0px grey;
            transition: all 0.6s ease;
        }
        #portfolio > #myWorks > .filter > div:hover{
            cursor: pointer;
            border-radius: 15px;
            box-shadow: -3px 3px 8px 0px grey;
        }
    #portfolio > #myWorks > .list {
        display: flex;
        width: 100%;
    }
        #portfolio > #myWorks > .list > .work{
            display: inline-block;
            position: relative;
            float: left;
            height: 310px;
            width: 32%;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            border-radius: 4px;
        }
            #portfolio > #myWorks > .list > .work:nth-child(2){
            margin: 0 2%;
            }

            #portfolio > #myWorks > .list > .work:hover .img{
                transform: scale(1.1);
                filter: brightness(45%);
            }
            #portfolio > #myWorks > .list > .work:hover .texts{
                opacity: 1;
            }
            #portfolio > #myWorks > .list > .work >.img{
                display: inline-block;
                width:100%;
                height:100%;
                background-position: center;
                background-size: cover;
                transform: scale(1);
                filter: brightness(100%);
                transition: all 0.8s ease;
            }
            #portfolio > #myWorks > .list > .work > .texts{
                display: inline-block;
                position: absolute;
                text-align: left;
                text-transform:capitalize;
                bottom: 13%;
                left: 10%;
                z-index: 9;
                opacity: 0;
                transition: all 0.8s ease;
            }
                #portfolio > #myWorks > .list > .work > .texts > h3{
                    display: inline-block;
                    width: 100%;
                    color: var(--lighterText-color);
                    font-weight: bolder;
                    font-size: 25px;
                    line-height: 0px;
                }
                #portfolio > #myWorks > .list > .work > .texts > p{
                    display: inline-block;
                    width: 100%;
                    color: var(--main-color);
                    font-weight: bolder;
                    font-size: 20px;
                    line-height: 0px;
                }
    #portfolio > #myWorks > .arrows{
        display: inline-block;
        margin: 10px auto;
    }
        #portfolio > #myWorks > .arrows > .more{
            display: inline-block;
            float: left;
            text-align: center;
            width: 30px;
            height: 30px;
            font-size: 20px;
            line-height: 28px;
            border: 1px solid var(--main-color);
            cursor: pointer;
            font-weight: bold;
            color: var(--blackText-color);
        }
            #portfolio > #myWorks > .arrows > .more:hover{
                box-shadow: 0 0 8px var(--shadow-color);
            }
            #portfolio > #myWorks > .arrows > .more:first-child{
                border-radius: 25px 0px 0px 25px;
            }
            #portfolio > #myWorks > .arrows > .more:last-child{
                border-radius: 0px 25px 25px 0px;
            }
            #portfolio > #myWorks > .arrows > .more+.more{
                margin-left: 5px;
            }

            /* R E S P O N S I V E   D E S I G N */

            #portfolio > #myWorks > .list > .work{
                width: 32%;
            }
            
            #portfolio > #myWorks > .list > .display_none{
                display: none;
            }
            #portfolio > #myWorks > .list > .display_small,
            #portfolio > #myWorks > .list > .display_medium,
            #portfolio > #myWorks > .list > .display_large{
                display: flex;
            }
            #portfolio > #myWorks > .list > .display_medium.display_large.display_none{
                margin: 0 2%;
            }
            #portfolio > #myWorks > .list > .display_small.display_medium.display_large.display_none,
            #portfolio > #myWorks > .list > .display_large.display_none{
                margin: 0;
            }

@media ( max-width: 1300px ) {
}

@media ( max-width: 1000px ) {
    #portfolio > #myWorks > .list > .work{
        width: 49%;
    }
    #portfolio > #myWorks > .list > .display_large,
    #portfolio > #myWorks > .list > .display_none{
        display: none;
    }
    #portfolio > #myWorks > .list > .display_small,
    #portfolio > #myWorks > .list > .display_medium{
        display: flex;
    }
    #portfolio > #myWorks > .list > .display_small.display_medium.display_large.display_none{
        margin-right: 2%;
    }
    #portfolio > #myWorks > .list > .display_medium.display_large.display_none{
        margin-left: 2%;
    }
    #portfolio > #myWorks > .list > .display_medium.display_large.display_none,
    #portfolio > #myWorks > .list > .display_large.display_none{
        margin: 0;
    }
}

@media ( max-width: 700px ) {
}

@media ( max-width: 600px ) {
    #portfolio > #myWorks > .list > .work{
        width: 100%
    }
    #portfolio > #myWorks > .list > .display_medium.display_large.display_none,
    #portfolio > #myWorks > .list > .display_large.display_none,
    #portfolio > #myWorks > .list > .display_none{
        display: none;
    }
    #portfolio > #myWorks > .list > .display_small.display_medium.display_large.display_none{
        display: flex;
        margin: 0;
    }
}

@media ( max-width: 500px ) {
}
