html {
    scroll-behavior: smooth;
}
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

.bg-main {
    background-color: var(--main-color);
}
.bg-blackText {
    background-color: var(--blackText-color);
}
.bg-grey {
    background-color: var(--background-color);
}
.bg-black {
    background-color: var(--black-color);
}
.tc-light {
    background-color: var(--lightText-color);
}

.container {
    display: inline-block;
    width: 100%;
    padding: 100px 0;
}
    .container > .row {
        display: inline-block;
        position: relative;
        width: 1200px;
        margin: 0 calc((100% - 1200px) / 2);
        text-align: center;
    }
        .container > .row > h2 {
            position: relative;
            display: inline-block;
            font-size: 35px;
            text-transform: uppercase;
            line-height: 45px;
            font-weight: 800;
            color: var(--blackText-color);
        }
            .container > .row > h2 > span {
                display: block;
                position: absolute;
                left: calc(50% - 40px);
                background-color: var(--main-color);
                height: 2px;
                width: 80px;
            }
        .container > .row > p {
            font-size: 20px;
            line-height: 25px;
            color: var(--text-color);
            padding: 5px 0 0 0;
        }
        .bottom > .row{
            color: var(--lightText-color);
        }
        .footer > .row > p{
            color: var(--lighterText-color);
        }
        .hero > .row > h2{
            text-align: left;
            width: 100%;
        }
        .hero > .row > p{
            text-align: left;
        }
        .hero > .row > h2 > span {
            left: 40px;  /*kodėl 40? nežinau kol kas kaip padaryti automatiškai*/
        }

        /* basic header */
        .container > .row > a > img {
            display: inline-block;
            float: left;
        }
        .container > .row > nav {
            display: inline-block;
            float: right;
            margin-top: 26px;
        }
            .container > .row > nav > a {
                display: inline-block;
                margin-right: 10px;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--main-color);
                font-weight: bold;
            }
            .container > .row > nav > .home-active {
                background-color: var(--main-color);
                color: #fff;
                padding: 10px 15px;
                border-radius: 30px;
                margin-top: -10px;
            }
            /* basic header end */


    @media ( max-width: 1300px ) {
        .container > .row {
            width: 900px;
            margin: 0 calc((100% - 900px) / 2);
        }
        .container > .row > nav {
            /* display: none; */
        }

    }

    @media ( max-width: 1000px ) {
        .container > .row {
            width: 700px;
            margin: 0 calc((100% - 700px) / 2);
        }
    }

    @media ( max-width: 800px ) {
        .container {
            padding: 80px 30px;
        }
            .container > .row {
                width: 100%;
                margin: 0;
            }
    }
    /* Hamburger */

    /* Checkbox */
    .container > .row > .toggler {
        position: absolute;
        top: 6px;
        right: 10px;
        z-index: 2;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    /* Hamburger box */
    .container > .row > .hamburger {
        position: absolute;
        top: 6px;
        right: 10px;
        z-index: 1;
        width: 55px;
        height: 36px;
        padding: 1rem;
        background-color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* Hamburger line */
        .container > .row > .hamburger > div {
            position: relative;
            width: 100%;
            height: 2.5px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease;
        }
        /* Hamburger top and bottom lines */
        .row > .hamburger > div:before,
        .row > .hamburger > div:after {
            content: '';
            position: absolute;
            top: -8px;
            width: 100%;
            height: 2.5px;
            background: inherit;
        }
        /* Hamburger one line down */
        .row > .hamburger > div:after {
            top: 8px;
        }
        /* Animated toggler */
        .row > .toggler:checked + .hamburger > div {
            transform: rotate(135deg);
        }
        /* Turn lines into X */
        .row > .toggler:checked + .hamburger > div:before,
        .row > .toggler:checked + .hamburger > div:after {
            top: 0;
            transform: rotate(90deg);
        }