body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

.bg-main {
    background-color: var(--main-color);
}
.bg-blackText {
    background-color: var(--blackText-color);
}
.bg-grey {
    background-color: var(--background-color);
}
.bg-black {
    background-color: var(--black-color);
}
.tc-light {
    background-color: var(--lightText-color);
}

.container {
    display: inline-block;
    width: 100%;
    padding: 100px 0;
}
    .container > .row {
        display: inline-block;
        position: relative;
        width: 1200px;
        margin: 0 calc((100% - 1200px) / 2);
        text-align: center;
    }
        .container > .row > h2 {
            position: relative;
            display: inline-block;
            font-size: 35px;
            text-transform: uppercase;
            line-height: 45px;
            font-weight: 800;
            color: var(--blackText-color);
        }
            .container > .row > h2 > span {
                display: block;
                position: absolute;
                left: calc(50% - 40px);
                background-color: var(--main-color);
                height: 2px;
                width: 80px;
            }
        .container > .row > p {
            font-size: 20px;
            line-height: 25px;
            color: var(--text-color);
            padding: 5px 0 0 0;
        }
        .bottom > .row{
            color: var(--lightText-color);
        }
        .footer > .row > p{
            color: var(--lighterText-color);
        }
        .hero > .row > h2{
            text-align: left;
            width: 100%;
        }
        .hero > .row > p{
            text-align: left;
        }
        .hero > .row > h2 > span {
            left: 40px;  /*kodėl 40? nežinau kol kas kaip padaryti automatiškai*/
        }


        .container > .row > img {
            display: inline-block;
            float: left;
        }
        .container > .row > nav {
            display: inline-block;
            float: right;
            margin-top: 26px;
        }
            .container > .row > nav > a {
                display: inline-block;
                margin-right: 10px;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--main-color);
                font-weight: bold;
            }
            .container > .row > nav > .home-active {
                background-color: var(--main-color);
                color: #fff;
                padding: 10px 15px;
                border-radius: 30px;
                margin-top: -10px;
            }



    @media ( max-width: 1300px ) {
        .container > .row {
            width: 900px;
            margin: 0 calc((100% - 900px) / 2);
        }
        .container > .row > nav {
            font-size: 13px;
        }
    }

    @media ( max-width: 1000px ) {
        .container > .row {
            width: 700px;
            margin: 0 calc((100% - 700px) / 2);
        }
    }

    @media ( max-width: 800px ) {
        .container {
            padding: 80px 30px;
        }
            .container > .row {
                width: 100%;
                margin: 0;
            }
    }